.container{
    height: 100%;
}

.sideimage{
    width: 50%;
    float: left;
    padding-right: 10px;
    margin-bottom: 200px;
}

img{
    width: 100%;
}

.sidetext{
    text-align: justify;
    width: 48%;
    float: left;
    padding-left: 10px;
}

.experience{
    width: 100%;
    padding: 13% 0 15% 0;
    text-align: justify;
}

.job{
    padding-top: 80px;
    width: 100%;
    text-align: justify;
    font-size: large;
}

.job .body{
    font-size: 15px;
    color: grey;
    margin: 5px 5px 5px 0;
}

.container-grey{
    margin: 0 10px;
    padding: 0 10%;
}

@media (max-width: 1366px) {
    .sideimage{
        float: none;
        width: 100%;
        margin: 0;
    }

    .sidetext{
        float: none;
        width: 100%;
        padding: 50px 0 0 0;
    }

    .container{
        height: 100%;
        padding: 100px 20%;
    }

    .div1{
        width: 50%;
    }

    .div2{
        width: 50%;
        float: right;
    }

    #grid{
        padding: 10px;
    }
}

@media (max-width: 1080px) {
    .sideimage{
        float: none;
        width: 100%;
        margin: 50px 0 10px 0;
        padding: 0;
    }

    .sidetext{
        float: none;
        width: 100%;
        margin: 0;
        padding: 20px 0 0 0;
    }

    .container{
        height: 100%;
        padding: 20px;
    }

    .container-grey{
        padding: 10px;
    }

    .div1{
        float: none;
        width: 100%;
    }

    .div2{
        float: none;
        width: 100%;
    }

    #grid{
        padding: 0;
    }
}