.container p{
    font-size: 50px;
}

.container{
    text-align: center;
}

.contain{
    background-color: rgba(230, 230, 230, 0.95);
    width: 100%;
    height: auto;
}

.contain a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.serif{
    padding-top: 70px;
    padding-bottom: 10%;
}

.serif p{
    font-family: 'Times New Roman', Times, serif;
}

.div1{
    height: auto;
    width: auto;
    padding: 20px 20%;
}

.segment{
    height: 100%;
    width: 100%;
                                                                                                                                                                                                                                                                                                                                                                                                                                                           ;
}

.content{
    padding: 15px 0;
}

img{
    width: 100%;
}



@media (max-width: 1080px) {
    .div1{
        width: auto;
        background-color: rgba(231, 231, 231, 0.945);
    }

    .contain{
        height: auto;
    }

    .serif p{
        font-size: 40px;
    }
}