img{
    width: 100%;
}

.container{
    width: 35%;
    margin: auto;
}

.blogtitle{
    font-size: 50px;
}

.blogdate{
    color: rgb(100, 100, 100);
    padding-top: 10px;
}

.serif{
    padding-top: 0px;
    padding-bottom: 50px;
}

.serif p{
    font-family: 'Times New Roman', Times, serif;
}

.text{
    padding: 10px 0 50px 0;
    font-size: 16px;
    line-height: 32px;
    width: 100%;
    margin: auto;
}

.description{
    text-align: center;
    font-size: 14px;
    color: grey;
    padding-bottom: 10px;
}

@media (max-width: 1366px) {
    .container{
        height: 100%;
        width: 50%;
        margin: auto;
        justify-content: center;
    }
}

@media (max-width: 1080px) {
    .container{
        width: auto;
        margin: 0;
        padding: 20%;
    }

    .text{
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
    }
}

@media (max-width: 720px) {
    .container{
        padding: 20% 20px;
    }
}