.bigtitle{
    font-size: 70px;
}

img{
    width: 100%;
}

.home-container{
    background-color: rgb(245, 245, 245, 0.9);
    padding: 0 10%;
    clear: both;
    border-radius: 30px;
    text-align: center;
}

#home{
    padding: 370px 0;
}

.contain{
    padding-top: 100px;
}

.crop{
    height: auto;
    opacity: 50%;
}

#box{
    height: 300px;
    margin: 20px 0;
}

@media (max-width: 1366px) {
    #home{
        padding: 250px 10%;
    }

    .contain{
        width: 100%;
        padding: 0;
    }

    .crop{
        padding: 50px 0;
        height: auto;
        width: 100%;
    }

    .content{
        text-align: center;
        position: absolute;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1080px) {
    .home-container{
        padding: 150px 5%;
    }

    #home{
        padding: 100px 0;
        text-align: center;
    }
}