*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.serif{
    padding-top: 70px;
    padding-bottom: 10%;
}

.serif p{
    font-family: 'Times New Roman', Times, serif;
}

.blogtitle{
    font-size: 45px;
}

.blogdate{
    color: rgb(100, 100, 100);
    padding-top: 10px;
}

#nav{
    padding: 0 5%;
}

header{
    background-color: rgb(255, 255, 255, 0.8);
    width: 100%;
    position: fixed;
    padding: 10px 0;
}

.namebar{
    float: left;
    padding-top: 2px;
    width: 50%;
    height: 25px;
}

.namebar a{
    text-decoration: none;
    color: black;
}

.navbar{
    float: right;
    text-align: right;
    width: 50%;
    height: 25px;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
}

.navbar a{
    padding: 5px 0px 8px 40px;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.navbar a:hover{
    color: brown;
}

.active a{
    color: brown;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 5%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: grey;
    border-radius: 1px;
}

.container{
    padding: 10%;
    clear: both;
}

.container-grey{

    background-color: rgb(245, 245, 245);
    padding: 0 15%;
    clear: both;
    border-radius: 30px;
}

img{
    width: 100%;
}

footer{
    clear: left;
    padding: 5px;
    text-align: center;
    font-size: x-small;
    background-color: bisque;
}

.contain{
    height: auto;
    width: 100%;
}

@media (max-width: 1366px){

}

@media (max-width: 1125px) {
    
}

@media (max-width: 960px) {
    header{
        background-color: rgb(255, 255, 255, 0.95);
        padding: 20px 0;
    }

    .blogtitle{
        font-size: 30px;
    }

    .toggle-button{
        display: flex;
        padding: 10px;
    }

    .namebar{
        width: 100%;
        text-align: center;
    }

    .navbar{
        display: none;
        width: 100%;
        font-size: small;
        height: auto;
        padding-top: 10px;
    }

    .navbar ul{
        width: 100%;
    }

    .navbar ul li{
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    .navbar a{
        color: black;
        padding: 0 0 10px 0;
    }

    .navbar .active a{
        color: red;
    }

    .navbar.active{
        display: flex;
    }
}